<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key ="CsvPath" value="D:/Academy/CsvToXmlJson/Hotels.csv"/>
    <add key ="XmlPath" value="D:/Academy/CsvToXmlJson/CsvToXmlJson/bin/Debug/hotels.xml"/>
    <add key ="JsonPath" value="D:/Academy/CsvToXmlJson/CsvToXmlJson/bin/Debug/jsonhotels.txt"/>
  </appSettings>
</configuration>